.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 448px;
  width: 332px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 246px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.product-info {
  position: absolute;
  top: 220px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 228px;
  padding: 0px 10px;
  border-radius: 12px;
  background-color: white;
  gap: 5px;
}

.product-skin-types-container {
  height: 24px;
}

.product-skin-statuses-container {
  height: 24px;
}

.price-and-details-relative-container {
  flex-grow: 1;
  position: relative;
}

.price-and-details-absolute-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* padding: 10px; */
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

.price-container p {
  margin: 0px;
  color: #393c40;
}

.price-title {
  font-size: 11px;
  font-weight: 700;
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.details-btn {
  padding: 8px 20px;
  border-radius: 8px;
  background: rgba(236, 64, 122, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-btn:hover {
  background: rgba(236, 64, 122, 0.7);
  transform: translateY(-1px);
}

.details-title {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.card-header {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.discount-tag {
  background: #ff424f;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 8px;
}

.product-name {
  /* font-size: 14px;
  font-weight: 500;
  height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.new-price {
  color: #ee4d2d;
  font-size: 16px;
}

.old-price {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-count {
  font-size: 12px;
  color: #888;
}

.gift {
  background: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 2px 6px;
  font-size: 12px;
  color: #856404;
  border-radius: 4px;
}

.sold {
  font-size: 12px;
  color: #555;
  margin-top: auto;
}
