.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
  margin-top: 10px;
}

.banner-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.banner-caption {
  margin-top: 8px;
  font-size: 28px;
  color: #333;
  text-align: bold  ;
}
